body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

div.widget-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.deleteButton {
  position: absolute;
}